header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;

}


footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

}

