header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-start;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

}

article section {
    flex: 1 1 300px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

}

