nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

article section {
    flex: 1 1 300px;}


